.trigger_class {
	font-size: 20px;
	background: #212c42;
	color: white;
	display: block;
	padding: 20px;
	margin: 5px;
}

.trigger_class_opened {
	font-size: 25px;
	background: #212c42;
	color: white;
	display: block;
	padding: 15px;
	font-weight: bold;
}

.content_inner {
	background: white;
	color: black;
	margin: 0px;
	padding: 5px 50px;
	text-indent: 20px;
	line-height: 1.5;
	text-align: justify;
}
